/*font Variables*/
$primary-font: 'Inter', sans-serif;
$din-font: 'DIN Condensed';


/*Color Variables*/
$primary-color: #F5CA56;
$primary-color2: #2EB6B8;
$title-color: #191F26;
$text-color: #323E48;
$white: #ffffff;
$black: #000000;