/*font Variables*/
/*Color Variables*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.page-wrapper {
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
}

.ellipse {
  position: relative;
}

@media (min-width: 1200px) {
  .feature-ellipse1 {
    position: absolute;

    top: 367px;
    left: -176px;
    width: 555.848px;
    height: 555.848px;
    border-radius: 555.848px;
    opacity: 0.2;
    background: var(--primary-solid, #F39068);
    filter: blur(150px);
  }

  .feature-ellipse2 {
    position: absolute;

    top: 395px;
    left: -120px;
    width: 555.848px;
    height: 555.848px;
    flex-shrink: 0;
    border-radius: 555.848px;
    opacity: 0.2;
    background: var(--secondary-solid, #06B2BE);
    filter: blur(150px);
  }
}


/* Feature area style
============================================================================================ */
.feature-area {
  background: #05001a;
  overflow: hidden;


}




/* .feature-area .page-wrapper {} */

.feature-title {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature-title span {
  color: var(--secondary-solid, #06b2be);
}

@media (min-width: 768px) {
  .feature-title {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .feature-title {
    font-size: 38px;
  }
}

@media (min-width: 1200px) {
  .feature-title {
    font-size: 43px;
  }
}

.feature-cards {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
  position: relative;
}

@media (min-width: 768px) {
  .feature-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .feature-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .feature-cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0;
  }
}

.feature-card-one {
  text-align: center;
  margin: 0 auto;
  width: 307px;
  height: 304px;
  border-radius: 20px;
  background: var(--gradient-g-1,
      linear-gradient(136deg, #f39068 4.17%, #06b1be 51.56%, #fbca51 90.63%));
  box-shadow: 0px 19px 70px 0px rgba(6, 177, 190, 0.22);
}

.feature-card-two,
.feature-card-three,
.feature-card-four {
  text-align: center;
  margin: 0 auto;
  width: 307px;
  height: 304px;

  border-radius: 20px;
  background: #191331;
}

@media (min-width: 1200px) {
  .feature-card-two {
    width: 307.052px;
    height: 343.274px;

    background: var(--gradient-g-1,
        linear-gradient(136deg, #f39068 4.17%, #06b1be 51.56%, #fbca51 90.63%));
    box-shadow: 0px 19px 70px 0px rgba(6, 177, 190, 0.22);
  }
}

@media (min-width: 1200px) {

  .feature-card-one,
  .feature-card-three,
  .feature-card-four {
    width: 307.052px;
    height: 343.274px;
    border-radius: 20px;
    background: #191331;
    box-shadow: none;
  }
}

.icon {
  width: 56px;
  height: 56px;

  padding-top: 30px;
}

.icon1 {
  display: flex;
  width: 47.601px;
  height: 49.112px;
  padding: 3.444px 4.164px 3.444px 4.236px;
  justify-content: center;
  align-items: center;
}

.icon2 {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 4.939px 4.002px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.icon3 {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 3.163px 9.28px 3.163px 9.281px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.icon4 {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 3.553px 6.634px 3.552px 6.634px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.feature-card-title {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 45px;
}

.feature-card-two .feature-card-title,
.feature-card-three .feature-card-title,
.feature-card-four .feature-card-title {
  color: #fff;
}

@media (min-width: 1200px) {

  .feature-card-one .feature-card-title,
  .feature-card-three .feature-card-title,
  .feature-card-four .feature-card-title {
    color: #fff;
    font-size: 21px;
  }
}

@media (min-width: 1200px) {
  .feature-card-two .feature-card-title {
    color: #000;
    font-size: 21px;
  }
}

.feature-card-desc {
  color: #05001a;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  /* 164.286% */
  margin-bottom: 19.52px;
}

.feature-card-two .feature-card-desc,
.feature-card-three .feature-card-desc,
.feature-card-four .feature-card-desc {
  color: #fff;
}

@media (min-width: 1200px) {

  .feature-card-one .feature-card-desc,
  .feature-card-three .feature-card-desc,
  .feature-card-four .feature-card-desc {
    color: #fff;
  }
}

@media (min-width: 1200px) {
  .feature-card-two .feature-card-desc {
    color: #05001a;
    font-size: 15px;
  }
}

.feature-card-one a {
  color: #05001a;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 178.571% */
}

.feature-card-two a,
.feature-card-three a,
.feature-card-four a {
  color: #fff;
}

.feature-card-one a svg {
  stroke: #05001a;
}

.feature-card-two a svg {
  stroke: white;
}

@media (min-width: 1200px) {
  .feature-card-two a {
    color: #05001a;
  }

  .feature-card-two a svg {
    stroke: #05001a;
  }

  .feature-card-one a svg {
    stroke: #c1bfc8;
  }
}

@media (min-width: 1200px) {

  .feature-card-one a,
  .feature-card-three a,
  .feature-card-four a {
    color: #fff;
  }
}

.join-area {
  background: #05001a;

  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
  /* position: relative;
  z-index: 9999999999999999999999; */


}

@media (min-width: 1200px) {
  .feature-area {
    padding-bottom: 80px;
  }
}


.ellipse3 {
  border-radius: 591.417px;
  opacity: 0.3;
  background: var(--gradient-g-1, linear-gradient(136deg, #F39068 4.17%, #06B1BE 51.56%, #FBCA51 90.63%));
  filter: blur(150px);
}





@media (min-width: 1200px) {
  .ellipse3 {
    width: 591.417px;
    height: 591.417px;
    position: absolute;
    bottom: -381px;
    right: -117.34px;

  }
}

.join-area svg {
  position: absolute;

  bottom: -300px;
  right: 0px;
  z-index: 10;
}

@media (min-width: 768px) {
  .join-area .page-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    gap: 28px;
  }
}

@media (min-width: 1200px) {
  .join-area-content {
    margin-right: 17px;
  }
}

@media (min-width: 1200px) {
  .join-area .page-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 74px;
  }
}

.join-area-title {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
  padding: 0 65px;
}

@media (min-width: 768px) {
  .join-area-title {
    text-align: left;

    padding: 0;
  }
}

@media (min-width: 1024px) {
  .join-area-title {
    font-size: 43px;
  }
}

.join-area-title span {
  color: var(--secondary-solid, #06b2be);
}

.join-area-desc {
  color: var(--dark-shade-1, #c1bfc8);
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0 35px;
  /* 160% */
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .join-area-desc {
    text-align: left;
    font-size: 18px;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .join-area-desc {
    text-align: left;
  }
}

.join-area-img {
  padding-left: 18px;
}

@media (min-width: 768px) {
  .join-area-img {
    padding-left: 0;
  }
}

.join-area-img__one {
  width: 289.081px;
  height: 287.392px;
  /* flex-shrink: 0;
  border-radius: 11.622px;
  background: #100732;
  padding: 9.37px 9.43px; */
  background: url(/assets/img/j1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 1024px) {
  .join-area-img__one {
    width: 387px;
    height: 386px;
  }
}

@media (min-width: 1200px) {
  .join-area-img__one {
    width: 497.474px;
    height: 494.567px;
  }
}

/* .join-img1 {
  width: 270.224px;
  height: 268.645px;
  flex-shrink: 0;
  border-radius: 5.811px;
  background: url(/assets/img/join1.png),
    lightgray -837.741px -172.434px / 427.904% 309.765% no-repeat;
  background-position: center;
  background-size: cover;
} */
.join-area-img__two {
  width: 180.278px;
  height: 104px;
  flex-shrink: 0;
  /* border-radius: 11.622px;
  background: #100732;
  padding: 7.32px 7.63px;
  margin-left: 175px;
  margin-top: -62px; */
  background: url(/assets/img/j2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 150px;
  margin-top: -82px;
  border-radius: 11.622px;
}

@media (min-width: 1024px) {
  .join-area-img__two {
    width: 250px;
    height: 150px;
    margin-left: 200px;
    margin-top: -112px;
  }
}

@media (min-width: 1200px) {
  .join-area-img__two {
    width: 310.237px;
    height: 174px;
    margin-left: 255px;
    margin-top: -133px;
  }
}

/* .join-img2 {
  width: 165.024px;
  height: 83.108px;

  border-radius: 5.811px;
  background: url(/assets/img/join2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

/* key section */
.key {
  background: #110b28;
  padding: 104px 24px;
  overflow: hidden;
  position: relative;
}

@media (min-width: 768px) {
  .key {
    padding: 110px 15px;
  }
}

@media (min-width: 1024px) {
  .key {
    padding: 120px 15px;
  }
}

@media (min-width: 1200px) {
  .key {
    padding: 131.84px 0px;
  }
}

.key .page-wrapper {
  position: relative;
  z-index: 10;
}

.ellipse5 {
  width: 349px;
  height: 349px;
  flex-shrink: 0;
  border-radius: 349px;
  opacity: 0.2;
  background: var(--primary-solid, #f39068);
  filter: blur(100px);
  position: absolute;
  left: -109px;
  top: 569px;
  z-index: 11;
}

@media (min-width: 1200px) {
  .ellipse5 {
    left: -180px;
    top: 785px;
  }
}

.key-title {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 31px;
}

@media (min-width: 768px) {
  .key-title {
    font-size: 32px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .key-title {
    font-size: 38px;
    margin-bottom: 45px;
  }
}

@media (min-width: 1200px) {
  .key-title {
    font-size: 43px;
    margin-bottom: 53.97px;
  }
}

.key-cards {
  display: grid;
  position: relative;

  gap: 35px;
  z-index: 13;
}

/* @media (min-width: 768px) {
  .key-cards {

    grid-template-columns: 1fr;
    ;
  }
} */

.key-card__one,
.key-card__two,
.key-card__three,
.key-card__four {
  width: 100%;
  overflow: hidden;

  border-radius: 16px;
  background: #231d3e;
  padding: 20px;
}

@media (min-width: 768px) {

  .key-card__one,
  .key-card__two,
  .key-card__three,
  .key-card__four {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 16px;
    background: #231d3e;
    padding: 20px;
  }
}

@media (min-width: 1200px) {

  .key-card__one,
  .key-card__two,
  .key-card__three,
  .key-card__four {
    width: 100%;
    height: 386.668px;
    border-radius: 20px;
    padding-top: 41.19px;
    padding-left: 35.18px;
    padding-right: 35.18px;
  }
}

.key-icon {
  width: 61px;
  height: 61px;
  flex-shrink: 0;
  border-radius: 8.155px;
  background: #443f5c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

@media (min-width: 1200px) {
  .key-icon {
    width: 74.802px;
    height: 74.802px;
    border-radius: 10px;
    margin-bottom: 23.25px;
  }
}

.key-card-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-bottom: 14px;
}

@media (min-width: 1200px) {
  .key-card-title {
    font-size: 30px;
    margin-bottom: 18.25px;
  }
}

.key-card__one .key-card-title {
  padding-right: 29px;
}

.key-card__two .key-card-title {
  padding-right: 13px;
}

.key-card__three .key-card-title {
  padding-right: -4px;
}

.key-card__four .key-card-title {
  padding-right: 17px;
}

.key-card-desc {
  color: var(--dark-shade-1, #c1bfc8);
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 160% */
}

.dots1,
.dots2,
.dots3,
.dots4 {
  display: inline;
}

@media (min-width: 768px) {

  .dots1,
  .dots2,
  .dots3,
  .dots4 {
    display: none;
  }
}

.key-card-desc .more1,
.key-card-desc .more2,
.key-card-desc .more3,
.key-card-desc .more4 {
  display: none;
}

@media (min-width: 768px) {

  .key-card-desc .more1,
  .key-card-desc .more2,
  .key-card-desc .more3,
  .key-card-desc .more4 {
    display: inline;
    color: var(--dark-shade-1, #c1bfc8);
  }
}

.moreBtn1,
.moreBtn2,
.moreBtn3,
.moreBtn4 {
  display: inline;

  color: #fff;
  cursor: pointer;
}

@media (min-width: 768px) {

  .moreBtn1,
  .moreBtn2,
  .moreBtn3,
  .moreBtn4 {
    display: none;
  }
}

.key-card-desc span {
  color: #fff;
}

@media (min-width: 1200px) {
  .key-card-desc {
    font-size: 18px;
  }
}


/* Team */

.team-area {
  background: #05001A;
  text-align: center;
  padding-top: 60px;
}

@media (min-width: 1200px) {
  .team-area {
    padding-top: 150.88px;
  }
}

.team-title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 30px;
}

.team-title span {
  color: var(--secondary-solid, #06B2BE);
}

@media (min-width: 1200px) {
  .team-title {
    text-align: left;
  }

}

.team-area .swiper-wrapper {
  max-width: 1920px;
}

.teamSwiper .swiper-slide img {
  width: 251px;
  height: 251px;
  border-radius: 16.021px;
  opacity: 0.5;
}

@media (min-width: 1200px) {
  .team-title {
    font-size: 43px;
    margin-bottom: 49.72px;
  }

  .teamSwiper .swiper-slide img {
    width: 313.331px;
    height: 313.331px;
    border-radius: 20px;
    opacity: 0.5;
  }
}

.teamSwiper h5 {
  text-align: left;
  margin-left: 14px;
  margin-top: 20px;
  margin-bottom: 7px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.634px;
  /* 128.171% */
}

.teamSwiper p {
  text-align: left;
  margin-left: 14px;
  color: var(--dark-shade-1, #C1BFC8);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.021px;

}

@media (min-width: 768px) {
  .teamSwiper h5 {

    margin-left: 60px;
  }

  .teamSwiper p {

    margin-left: 60px;
  }
}

@media (min-width: 1024px) {
  .teamSwiper h5 {

    margin-left: 36px;
  }

  .teamSwiper p {

    margin-left: 36px;
  }
}

@media (min-width: 1200px) {


  .teamSwiper h5 {
    font-size: 25px;
    margin-left: 0px;
  }

  .teamSwiper p {
    font-size: 16px;
    margin-left: 0px;
  }
}

.teamSwiper .swiper-slide:first-child {
  margin-left: 16px;
}

@media (min-width: 1200px) {
  .teamSwiper .swiper-slide:first-child {
    margin-left: -42px;
  }

}

.mypagination {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-width: 768px) {
  .pagination {
    display: none;
  }
}


.button-swiper {
  display: none;
}

@media (min-width: 768px) {
  .team-area .page-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 24px;
  }

  .button-swiper {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
  }
}

@media (min-width: 1200px) {
  .team-area .page-wrapper {

    padding: 0;
  }
}



.button-prev {

  width: 48.867px;
  height: 48.867px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #231D3E;
}

.button-next {

  width: 48.867px;
  height: 48.867px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-g-1, linear-gradient(136deg, #F39068 4.17%, #06B1BE 51.56%, #FBCA51 90.63%));
  ;
}

/* .swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
} */



/* partner */
.partner {
  background: #05001a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.partner .swiper-wrapper {
  max-width: 1920px;
}

.swiper-wrapper .swiper-slide:last-child {
  margin-right: 0 !important;
}

.pre-register {
  background: #05001a;
}

@media (min-width: 1200px) {
  .pre-register {
    padding-top: 179px;
    position: relative;
  }

  .pre-register .ellipse4 {
    border-radius: 493.897px;
    opacity: 0.3;
    background: var(--secondary-solid, #06b2be);
    filter: blur(150px);
    width: 493.897px;
    height: 493.897px;
    flex-shrink: 0;
    position: absolute;
    right: 89px;
    bottom: 0;
  }

  .pre-register .ellipse5 {
    width: 493.897px;
    height: 493.897px;
    flex-shrink: 0;
    border-radius: 493.897px;
    opacity: 0.3;
    background: var(--third-solid, #fbca51);
    filter: blur(150px);
    position: absolute;
    left: 1166px;
    top: -30px;
  }
}

.pre-register .page-wrapper {
  padding: 0 24px;
}

@media (min-width: 1200px) {
  .pre-register .page-wrapper {
    padding: 0;
  }
}

.pre-register .page-wrapper svg {
  position: absolute;
  right: 0px;
  top: -350px;
}

.pre-register-container {
  position: relative;
  border-radius: 5.182px;
  background: #191331;
  box-shadow: 0px 7.513636112213135px 28.240909576416016px 0px rgba(0, 0, 0, 0.43);
  padding: 40px 15px 39px 16px;
  margin-bottom: -78px;
  z-index: 9999999999999999999999;
}

@media (min-width: 768px) {
  .pre-register-container {
    border-radius: 15px;

    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.43);
    padding: 60x 30px 60px 30px;
  }
}

@media (min-width: 1024x) {
  .pre-register-container {
    border-radius: 20px;

    box-shadow: 0px 29px 109px 0px rgba(0, 0, 0, 0.43);

    padding: 80x 150px 80px 150px;
  }
}

@media (min-width: 1200px) {
  .pre-register-container {
    border-radius: 20px;

    box-shadow: 0px 29px 109px 0px rgba(0, 0, 0, 0.43);

    padding: 92.2px 225.62px 92.2px 225.62px;
    position: relative;
    z-index: 9999999999999999999999;
  }
}

.pre-register-title {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 20px;
  /* 145.455% */
}

@media (min-width: 768px) {
  .pre-register-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .pre-register-title {
    font-size: 36px;
    margin-bottom: 35px;
    line-height: 40px;
  }
}

@media (min-width: 1200px) {
  .pre-register-title {
    font-size: 43px;
    margin-bottom: 45px;
    line-height: 55px;
  }
}

.pre-register__btn {
  color: #fff;

  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;

  border-radius: 40px;
  border: none;
  background: var(--g,
      linear-gradient(136deg, #f39068 4.17%, #06b1be 51.56%, #fbca51 90.63%));
  /* 140% */
  display: inline-flex;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Footer */

.footer-area {
  background: #110b28;
  text-align: center;
  padding-top: 154px;
  position: relative;

}



.footer-ellipse {
  width: 229px;
  height: 229px;
  flex-shrink: 0;
  border-radius: 302.934px;
  opacity: 0.3;
  background: var(--third-solid, #FBCA51);
  filter: blur(150px);
  position: absolute;
  top: -80px;
  left: -86px;

}

@media (min-width: 1200px) {
  .footer-ellipse {
    width: 302.934px;
    height: 302.934px;
    position: absolute;
    left: 140px;
    top: -150px;
  }
}

.logo img {
  width: 56px;
  height: 50px;
  margin-bottom: 41px;
}

@media (min-width: 1200px) {
  .logo img {
    width: 110.026px;
    height: 98.589px;

  }
}

.footer-menu .menu_one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding-left: 42px;
  padding-right: 43px;
  margin-bottom: 26px;
}

.footer-menu .menu_two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 100px;
  padding-right: 99px;
}

.footer-menu {
  padding-bottom: 60px;
}

.footer-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

@media (min-width: 1200px) {
  .footer-menu ul li a {
    font-size: 18px;
  }
}

.footer-line {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 31px;
}

@media (min-width: 1200px) {
  .footer-line {
    padding: 0;
    padding-bottom: 31px;
  }
}

.footer-line svg {
  width: 100%;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-bottom: 40px;
}

.instagram,
.facebook {
  width: 28px;
  height: 28px;
  background: #343048;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedin {
  width: 28px;
  height: 28px;
  background: var(--gradient-g-1,
      linear-gradient(136deg, #f39068 4.17%, #06b1be 51.56%, #fbca51 90.63%));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: var(--dark-shade-1, #c1bfc8);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  padding-bottom: 23px;
}

@media (min-width: 1200px) {
  .footer-area {
    padding-top: 250px;
  }

  .footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  .footer-menu {
    display: flex;
  }

  .footer-menu .menu_one {
    padding: 0;
  }

  .footer-menu .menu_two {
    padding: 0;
    gap: 66px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center
  }

  .copyright {
    font-size: 16px
  }

  .instagram,
  .facebook,
  .linkedin {
    width: 35.824px;
    height: 35.824px;
  }

}